<main class="container bg-light p-3">
  <form [formGroup]="catchFormGroup" class="col-3 mx-auto">
    <h1 class="mb-4">Registro de Produtos</h1>
    <div class="row mb-3">
      <div class="col">
        <label for="id" class="form-label">ID:</label>
        <input type="text" formControlName="id" class="form-control" id="id" />
      </div>
      <div class="col">
        <label for="Name" class="form-label">Nomes:</label>
        <input
          type="text"
          formControlName="name"
          class="form-control"
          id="Name"
        />
      </div>
    </div>
    <div class="mb-3">
      <label for="Description" class="form-label">Descrição:</label>
      <textarea
        class="form-control"
        formControlName="description"
        id="Description"
      ></textarea>
    </div>
    <div class="row mb-3">
      <div class="col">
        <label for="Price" class="form-label">Preço:</label>
        <input
          type="text"
          formControlName="price"
          class="form-control"
          id="price"
        />
      </div>
      <div class="col">
        <label for="Quantity" class="form-label">Quantidades:</label>
        <input
          type="text"
          formControlName="quantity"
          class="form-control"
          id="quantity"
        />
      </div>
    </div>
    <div class="row">
      <button
        type="submit"
        (click)="submit()"
        class="btn btn-dark btn-lg btn-block"
      >
        Cadastrar
      </button>
    </div>
    <div class="p-5">
      <h3 class="mb-4 text-center">Produtos</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nomes</th>
            <th scope="col">Descrição</th>
            <th scope="col">Preço</th>
            <th scope="col">Quantidades</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let catch of product">
            <th scope="row">#{{ catch.id }}</th>
            <td>{{ catch.name }}</td>
            <td>{{ catch.description }}</td>
            <td>R$ {{ catch.price }}</td>
            <td>{{ catch.quantity }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</main>
